:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);

  /*  */
  --main-border-r: 0px;
}

* {
  font-family: "Lexend Deca", sans-serif;
}

body {
    position: relative;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-block: 88px;
  width: 87%;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 48px;
  flex: 1 1 150px;
}

.card * {
  margin: 0;
}

.card:nth-child(1) {
  background-color: var(--bright-orange);
  border-start-start-radius: var(--main-border-r);
  border-start-end-radius: var(--main-border-r);
}

.card:nth-child(1) button {
  color: var(--bright-orange);
}

.card:nth-child(2) button {
  color: var(--dark-cyan);
}

.card:nth-child(3) button {
  color: var(--very-dark-cyan);
}

.card:nth-child(2) {
  background-color: var(--dark-cyan);
}

.card:nth-child(3) {
  background-color: var(--very-dark-cyan);
  border-end-start-radius: var(--main-border-r);
  border-end-end-radius: var(--main-border-r);
}

img {
  width: 68px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.6rem;
  color: var(--very-light-gray-background-headings-buttons);
}

p {
  color: var(--transparent-white-paragraphs);
  font-size: 0.95rem;
  line-height: 1.6rem;
}

button {
  border: none;
  background-color: var(--very-light-gray-background-headings-buttons);
  border-radius: 999px;
  border: 2px solid transparent;
  height: 48px;
  width: 65%;
  font-size: 0.95rem;
  transition: all 0.25s;
}

button:hover {
  cursor: pointer;
  border: 2px solid white;
  background-color: transparent;
  color: white !important;
}

footer {
  position: absolute !important;
  bottom: 0;
  padding-block-end: 10px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: black;
}

footer a {
  color: var(--bright-orange);
}

@media screen and (min-width: 35em) {
  main {
    width: 64%;
  }

  .card:nth-child(1) {
    border-start-end-radius: 0;
    border-end-start-radius: var(--main-border-r);
  }

  .card:nth-child(3) {
    border-start-end-radius: var(--main-border-r);
    border-end-start-radius: 0;
  }

  button {
    margin-block-start: 50px !important;
  }
}
